*cache*
.py*
data
!datasets.py
simulations/playground.ipynb
papers
*.ipynb
*.pkl
wandb
train_runs
simulations/models.py
*.gif
*.pt
machine.file*
*.out
*.sh
test_runs*
local_vel_accel_dists*
report/main.*
!report/figs
!report/main.tex
!setup.sh
!pretrained_models/*
